<mat-card class="card">

    <h2>Crear Producto</h2>
  
    <form #form="ngForm" (ngSubmit)="crearProducto(form)" class="form">
  
      <!-- Nombre -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Nombre</mat-label>
        <input matInput required [(ngModel)]="producto.nombre" name="nombre">
      </mat-form-field>
  
      <!-- Descripción -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Descripción</mat-label>
        <input matInput required [(ngModel)]="producto.descripcion" name="descripcion">
      </mat-form-field>
  
      <!-- Precio -->
      <mat-form-field appearance="outline" class="half">
        <mat-label>Precio</mat-label>
        <input matInput type="number" required [(ngModel)]="producto.precio" name="precio">
      </mat-form-field>
  
      <!-- Stock -->
      <mat-form-field appearance="outline" class="half">
        <mat-label>Stock</mat-label>
        <input matInput type="number" required [(ngModel)]="producto.stock" name="stock">
      </mat-form-field>
  
      <!-- Tipo -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Tipo</mat-label>
        <input matInput required [(ngModel)]="producto.tipoProducto" name="tipoProducto">
      </mat-form-field>
  
      <!-- BOTONES -->
      <div class="actions">
        <button mat-raised-button color="primary" type="submit">
          Guardar
        </button>
  
        <button mat-button color="warn" routerLink="/products" type="button">
          Cancelar
        </button>
      </div>
  
    </form>
  
  </mat-card>
  