.app-container {
    height: 100vh;
  }
  
  .side-menu {
    width: 230px;
    background: #fafafa;
  }
  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .main-container {
    padding: 20px;
  }
  
  .active-link {
    background: rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3f51b5;
  }
  